<div class="flex-1 overflow-hidden text-xs sm:text-sm">
	<div id="table-wrapper" class="mx-auto max-w-7xl px-4 py-3">
		<div id="table-container" class="bg-surface rounded-lg shadow-lg select-none">
			<!-- Table Header -->
			<div id="container-header" class="bg-thead border-input top-0 z-30 rounded-t-lg border-b-[5px] px-4 py-3">
				<div class="flex items-center justify-between">
					<h2 class="flex items-center text-lg font-semibold sm:text-2xl">
						<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24"
							class="mr-2 h-6 w-6 flex-shrink-0 fill-none stroke-current stroke-2 sm:h-7 sm:w-7">
							<path stroke-linecap="round" stroke-linejoin="round"
								d="M4 9L20 9M8 9V20M6.2 20H17.8C18.9201 20 19.4802 20 19.908 19.782C20.2843 19.5903 20.5903 19.2843 20.782 18.908C21 18.4802 21 17.9201 21 16.8V7.2C21 6.0799 21 5.51984 20.782 5.09202C20.5903 4.71569 20.2843 4.40973 19.908 4.21799C19.4802 4 18.9201 4 17.8 4H6.2C5.0799 4 4.51984 4 4.09202 4.21799C3.71569 4.40973 3.40973 4.71569 3.21799 5.09202C3 5.51984 3 6.07989 3 7.2V16.8C3 17.9201 3 18.4802 3.21799 18.908C3.40973 19.2843 3.71569 19.5903 4.09202 19.782C4.51984 20 5.07989 20 6.2 20Z" />
						</svg>
						<span><%= tableTitle %></span>
					</h2>
					<!-- Extra slot -->
					<div class="flex items-center gap-3 text-xs sm:gap-5 sm:text-base">
						<div class="flex flex-col gap-1 sm:flex-row sm:gap-5">
							<span class="text-text-primary text-right whitespace-nowrap">
								Selected:
								<span id="selectedCount">0</span> rows
							</span>
							<span class="text-text-primary text-right whitespace-nowrap">
								Total:
								<span id="totalCount">0</span> rows
							</span>
						</div>
						<button id="reloadBtn"
							class="bg-reload-btn text-text-secondary rounded-lg px-2 py-2 hover:brightness-[var(--highlight-brightness)]">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 640 640"
								class="h-5 w-5 flex-shrink-0 fill-current sm:h-7 sm:w-7">
								<path d="M544.1 256L552 256C565.3 256 576 245.3 576 232L576 88C576 78.3 570.2 69.5 561.2 65.8C552.2 62.1 541.9 64.2 535 71L483.3 122.8C439 86.1 382 64 320 64C191 64 84.3 159.4 66.6 283.5C64.1 301 76.2 317.2 93.7 319.7C111.2 322.2 127.4 310 129.9 292.6C143.2 199.5 223.3 128 320 128C364.4 128 405.2 143 437.7 168.3L391 215C384.1 221.9 382.1 232.2 385.8 241.2C389.5 250.2 398.3 256 408 256L544.1 256zM573.5 356.5C576 339 563.8 322.8 546.4 320.3C529 317.8 512.7 330 510.2 347.4C496.9 440.4 416.8 511.9 320.1 511.9C275.7 511.9 234.9 496.9 202.4 471.6L249 425C255.9 418.1 257.9 407.8 254.2 398.8C250.5 389.8 241.7 384 232 384L88 384C74.7 384 64 394.7 64 408L64 552C64 561.7 69.8 570.5 78.8 574.2C87.8 577.9 98.1 575.8 105 569L156.8 517.2C201 553.9 258 576 320 576C449 576 555.7 480.6 573.4 356.5z" />
							</svg>
						</button>
						<button id="captureBtn"
							class="bg-reload-btn text-text-secondary hidden rounded-lg px-2 py-2 hover:brightness-[var(--highlight-brightness)]">
							<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"
								class="h-5 w-5 flex-shrink-0 fill-current sm:h-7 sm:w-7">
								<path d="M384 320V192C384 174.326 369.674 160 352 160H316L309.812 143.562C306.312 134.188 297.375 128 287.375 128H224.625C214.625 128 205.625 134.188 202.125 143.562L196 160H160C142.326 160 128 174.326 128 192V320C128 337.672 142.326 352 160 352H352C369.674 352 384 337.672 384 320ZM256 304C229.5 304 208 282.5 208 256S229.5 208 256 208S304 229.5 304 256S282.5 304 256 304ZM144 432H48V336C48 327.162 40.836 320 32 320H16C7.164 320 0 327.162 0 336V448C0 465.672 14.326 480 32 480H144C152.836 480 160 472.836 160 464V448C160 439.162 152.836 432 144 432ZM16 192H32C40.836 192 48 184.836 48 176V80H144C152.836 80 160 72.836 160 64V48C160 39.162 152.836 32 144 32H32C14.326 32 0 46.326 0 64V176C0 184.836 7.164 192 16 192ZM480 32H368C359.164 32 352 39.162 352 48V64C352 72.836 359.164 80 368 80H464V176C464 184.836 471.164 192 480 192H496C504.836 192 512 184.836 512 176V64C512 46.326 497.674 32 480 32ZM496 320H480C471.164 320 464 327.162 464 336V432H368C359.164 432 352 439.162 352 448V464C352 472.836 359.164 480 368 480H480C497.674 480 512 465.672 512 448V336C512 327.162 504.836 320 496 320Z" />
							</svg>
						</button>
					</div>
				</div>
			</div>
			<!-- Table -->
			<div class="scroll-container overflow-x-auto rounded-b-lg">
				<table class="table-fixed">
					<thead class="bg-thead" id="tableHeader">
						<tr>
							<th class="px-2 sm:px-4">
								<label class="group inline-flex cursor-pointer items-center">
									<!-- Hidden native checkbox -->
									<input id="selectAllCheckbox" type="checkbox" class="sr-only" />

									<!-- Custom box -->
									<span
										class="text-text-secondary checkbox-transition border-border bg-checkbox group-hover:border-border-checkbox-hover relative flex h-5 w-5 items-center justify-center overflow-visible rounded-md border group-hover:brightness-125">
										<!-- Big check -->
										<svg viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="3"
											class="checkbox-transition absolute h-5 w-5 scale-0 opacity-0 group-has-[input:checked]:scale-100 group-has-[input:checked]:opacity-100">
											<path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7" />
										</svg>
									</span>
								</label>
							</th>

							<% headers.forEach(header=> { %>
								<th class="px-2 py-3 font-medium tracking-wider uppercase sm:px-4">
									<div class="relative flex <%= tableTitle === 'Proxy Status' ? 'text-base sm:text-lg' : 'text-sm sm:text-base' %> font-bold min-w-15 flex-col gap-1">
										<%= header %>
										<input type="text" placeholder="Filter"
											class="filter-input bg-dropdown mt-1 px-2 py-1 text-center" />
									</div>
								</th>
								<% }); %>
									<% if (showActions) { %>
										<th class="px-2 py-3 text-left font-medium tracking-wider uppercase sm:px-4">
											Actions
										</th>
										<% } %>
						</tr>
					</thead>
					<tbody id="tableBody" class="text-text-secondary">
						<% if (data && data.length> 0) { %> <% data.forEach(row=> { %>
								<tr class="hover:bg-bg-hover cursor-pointer">
									<td class="border-border border-b px-2 py-2 sm:px-4">
										<label class="group inline-flex cursor-pointer items-center">
											<!-- Hidden native checkbox -->
											<input type="checkbox" class="sr-only" />

											<!-- Custom box -->
											<span
												class="text-text-secondary checkbox-transition border-border bg-checkbox group-hover:border-border-checkbox-hover relative flex h-5 w-5 items-center justify-center overflow-visible rounded-md border group-hover:brightness-125">
												<!-- Big check -->
												<svg viewBox="0 0 24 24" fill="none" stroke="currentColor"
													stroke-width="3"
													class="checkbox-transition absolute h-5 w-5 scale-0 opacity-0 group-has-[input:checked]:scale-100 group-has-[input:checked]:opacity-100">
													<path stroke-linecap="round" stroke-linejoin="round"
														d="M5 13l4 4L19 7" />
												</svg>
											</span>
										</label>
									</td>

									<% headers.forEach(h=> { %>
										<td class="border-border border-b px-2 py-2 sm:px-4">
											<%= row[h.toLowerCase()] %>
										</td>
										<% }); %>
									<% if (showActions) { %>
										<td class="border-border space-x-2 border-b px-2 py-2 sm:px-4">
											<button class="rounded-lg bg-blue-600 px-4 py-1 hover:bg-blue-700"
												onclick="editRow(this)">
												Edit
											</button>
											<button class="rounded-lg bg-red-600 px-4 py-1 hover:bg-red-700"
												onclick="deleteRow(this)">
												Delete
											</button>
										</td>
									<% } %>
								</tr>
								<% }); %>
									<% } %>
					</tbody>
				</table>
			</div>
			<!-- Empty State -->
			<div id="emptyState" class="py-12 text-center">
				<% if (typeof emptyMessage !=='undefined' ) { %> <%- emptyMessage %>
						<% } %>
			</div>
		</div>
	</div>
</div>